@font-face {
  font-family: "IranSans";
  src: url(/public/fonts/iransans/eot/IRANSansWeb.eot)
      format("embedded-opentype"),
    url(/public/fonts/iransans/ttf/IRANSansWeb.ttf) format("ttf"),
    url(/public/fonts/iransans/woff/IRANSansWeb.woff) format("woff"),
    url(/public/fonts/iransans/woff2/IRANSansWeb.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "IranSans";
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* -webkit-box-shadow: 0 0 0 30px white inset !important; */
  transition: background-color 5000s ease-in-out 0s;
}

input,
select,
p,
legend,
fieldset,
div,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
button,
a,
li {
  font-family: "IranSans" !important;
  text-align: right;
}

::-webkit-input-placeholder {
  text-align: right;
}

:-moz-placeholder {
  text-align: right;
}

.MuiInputLabel-formControl {
  right: 30px;
  left: auto;
  text-align: right;
  direction: rtl;
}

.MuiMenu-list li svg {
  margin-left: 20px;
}

.MuiSelect-icon {
  right: auto !important;
  left: 7px !important;
}

.MuiSelect-select svg {
  margin-bottom: -4px;
  font-size: initial;
}

.MuiInputLabel-shrink {
  transform-origin: top right !important;
}

button {
  flex-direction: row-reverse;
}
